/* REGRA: VALOR (ESPECÍFICO MEDIDA) */

/* p{
    color: red;
} */

/* SELETORES BÁSICOS */

.titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;

}

h4{
    font-size: 30px;
}

#paragrafo-especial{
    font-style: italic;
    color: brown;
}

/* 4 - Propriedades de texto */

.basic-text{
    font-family: Arial, sans-serif;
    color: #47db93;
   
}

.style-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.weighty-text{
    font-weight: bold;
    font-size: 40px;
}

.fancy-text{
    font-family: Verdana;
    font-size: 30px;
    color: #84847a;
    text-align: center;
    text-transform: uppercase;
}

/* 5 - Cores */
/* 95% = HEX */
/* nome de cores = NUNCA */
/* 1% RGBA => A alpha opacidade */

.hex-color{
    /* 6 algarismos, precedidos por #, A-F 0-9 */
    color: #FF6310;
}

.rgb-color{
    /* Red, Green, Blue */
    /* 0 -> mais escuro 255 -> mais claro */
    color: rgb(34,100,200);
}

.hsl-color{
    /* Hue, Saturation, Lightness */
    color: hsl(357, 78%, 49%);
}

.rgba-color{
    /* 0 => invisível, 1 => totalmente visível */
    background-color: rgba(255, 70, 100, 0.5);
}

.rgba-color-2{
    background-color: rgba(255, 70, 100, 1);
}

.hsla-color{
    background-color: hsla(120, 50%, 30%, 0.3);
}

/* 6 - Estilização de link */

.simple-link{
    text-decoration: none;
    color: #312333;
}

.fancy-link{
    text-decoration: line-through;
    font-style: italic;
}

.hover-link{
    text-decoration: none;
}

.hover-link:hover{
    text-decoration: underline;
    color: #FF6310;
}

.bold-link{
    font-weight: 900;
}

/* 7 - Box Model */

.width-height{
    width: 200px;
    height: 100px;
    border: solid 2px #312333;
    background-color: #FF6310;
}

/* Espaçamento interno que pode ser adicionado aos 4 cnatos */
.padding-exemple{
    width: 200px;
    height: 100px;
    border: solid 2px #312333;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    background-color: #47db93;
}

/* Margem = espaçamento externo  */

.margin-exemple{
    width: 200px;
    height: 100px;
    border: solid 2px #312333;
    margin: 30px;
    background-color: #84847a;
}

/* Shorthand = 1 todos 2 valores superior e lateral */


.complete-box{
    width: 200px;
    height: 100px;
    border: solid 2px #312333;
    padding: 50px 100px;
    margin: 10px 20px 30px 40px;
}

/* Short - Hand = 99% */
/* ORDEM: todos os lados, cima e lateral, especificos */

/* 8 Positions */

.static-example{
    position: static;
    background-color: #321;
    border: 1px solid #000;
}

.relative-example{
    position: relative;
    top: 40px;
    left: 50px;
    background-color: #000
}

.absolute-example{
    position: absolute;
    background-color: #941;
    top: 10px;
    left: 250px;
}

.fixed-example{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #afaefe;
    border: 2px solid #000;
}

.sticky-example{
    position: sticky;
    top: 0;
    background-color: #adadaa;
    border: 2px solid #000;
}

/* Absolute precie de uma pai relative */
.relative-container{
    margin-top: 300px;
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    position: relative;
}

.absolute-inside-relative{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #941;
}

/* 9 - Flexbox */

.flex-container{
    display: flex;
    border: 2px solid #000;
    padding: 10px;
    height: 1000px;
}

.flex-item{
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid blue;
    /* height: 200px; */
}

/* Começo ou fim start e end */

.flex-container{
    justify-content: flex-end;
}

/* Centro */

.flex-container{
    justify-content: center;
    align-items: center;
}

.flex-item{
    flex: 1;
}

.flex-container{
    flex-direction: column;
}

/* Flex sempre precisa de um elemento pai */
/* Flexbox ajuda  a gente a posicionar o item */
/* Para varios elementos */
